temp.m
*.mat
*.asv
firstPassSpectra.m
firstPassWSST.m
secondPassWSST.m
importWADZBurst.m
importPartracBurst.m
importFoWBurst.m

WADZSpecificScripts
PartracSpecificScripts
FoWSpecificScripts
SynthSpecificScripts